.mat-card {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  form {
    padding: 8px;
  }
}

.user-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.user-input {
  width: 100%;
}
